@using UserInterface.Pages
@inherits LayoutComponentBase

<PageTitle>UserInterface</PageTitle>

<div class="page">
   
    <NavBar ShowNavBar = "showNavBar"/>;
    <main>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool showNavBar = false;
}