

<section>
   
    <div class="container">
      <div class="square">
        <img src=@postImageURL class="mask">
     <div class="h1">@postheading</div>
     <br/>
        <p>Written by: @postAuthor</p>
        <p>date and time: @postTime</p>
     <div><a href="https://medium.com/laheshk/is-apple-a-design-company-f5c83514e261" target="_" class="button">Accept</a>
        <a href="" target="_" class="button_decline">Decline</a></div>
      </div>   
      </div>
</section>

@code{
    public string? postImageURL = string.Empty;
    public string? postheading = string.Empty;
    public DateTime? postTime = DateTime.MinValue;
    public string? postAuthor = string.Empty;


    protected override void OnInitialized()
    {
        postImageURL = "https://images.unsplash.com/photo-1504610926078-a1611febcad3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e1c8fe0c9197d66232511525bfd1cc82&auto=format&fit=crop&w=1100&q=80";
        postheading = "Is Apple a Design Company?";
        postAuthor = "areeshali";
        base.OnInitialized();
    }
}