
<Footer>

<head>
   

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>

    <footer>
        <div class="footer-content">
            <h3>AIRTIME.PK</h3>
            <p>Discover AirTime.pk, an insightful web blogging platform crafted by Air University students as a semester project. Tailored exclusively for the Air University community, AirTime.pk provides a dynamic space to explore diverse topics, from technology to education. Join us in this vibrant online space for the latest updates, informative articles, and engaging discussions—connecting students through knowledge and curiosity.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; <a href="#">airtime.pk</a>  </p>
                    <div class="footer-menu">
                      <ul class="f-menu">
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Blog</a></li>
                      </ul>
                    </div>
        </div>

    </footer>



</Footer>

@code{
    
        }