


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <title>Blog :</title>
</head>
<body>

    <img src="https://www.ryrob.com/wp-content/uploads/2019/07/History-of-Blogging-Journey-Description-Infographic-Optimized.jpg" alt="titleimage">

    <div class="blog-text">
        <h1 class="heading">Learn the hidden feature in Git - Stash</h1>
        <div class="editor-detail">

            <p class="Author">Author: JohnDoe</p>





        </div>
        <h3 class="blog-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt mi non purus semper varius. Nunc mattis arcu quis molestie facilisis. Suspendisse sed posuere odio. Cras augue quam, viverra et facilisis in, pellentesque eget nibh. Nunc et velit id arcu pretium interdum. Nulla a euismod tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

            Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc pharetra dui non mattis euismod. Mauris quis porttitor dui. Integer sagittis, lacus eu facilisis sollicitudin, justo lacus bibendum ipsum, eget blandit risus dolor ac metus. Phasellus ut mollis dui, a lacinia urna. Vivamus venenatis in diam vel volutpat. Praesent velit purus, interdum at interdum ut, accumsan ut risus. Vivamus quis commodo orci, non vehicula ante. Donec in nisi lorem. Nam vitae ultrices augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet purus pharetra, ultrices metus eget, suscipit metus. Nam nec nibh sed mauris pellentesque ornare et non mi. Donec malesuada erat et risus ultricies vestibulum.

            Praesent lobortis non tellus at accumsan. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc pharetra leo vel dapibus tempus. Vivamus euismod sollicitudin mi, et fringilla arcu bibendum a. Fusce commodo feugiat massa, sed aliquam nulla accumsan ac. In sed felis ac ex venenatis auctor. In sed odio sed urna convallis elementum id eget orci. Fusce sit amet purus ac libero vestibulum imperdiet. Nam tincidunt tortor vel arcu sollicitudin varius. Fusce maximus, urna ac elementum tempus, purus sapien lobortis est, sit amet vulputate ligula erat euismod lectus.

            Praesent eget diam ut augue vestibulum aliquet et sed eros. Duis sollicitudin libero sit amet augue semper ullamcorper. Donec congue, tellus non pharetra porttitor, augue ex blandit purus, rutrum ornare risus enim at neque. Donec eu ex et est pharetra egestas. Nunc ac tristique justo, quis dapibus est. Fusce vel blandit felis, eget vulputate ligula. Quisque metus mauris, pretium quis dolor in, pharetra consectetur ipsum. Praesent pellentesque bibendum porta. Phasellus semper mollis sapien, molestie mattis nulla pulvinar id. Mauris pretium, nulla eget rhoncus commodo, nisl risus rutrum felis, id semper ex neque a nibh. Suspendisse ut ipsum at nunc gravida luctus. Praesent vehicula pellentesque arcu interdum auctor. Quisque sem magna, ultrices quis nibh a, aliquet scelerisque nisl. Phasellus non enim a libero ornare ullamcorper id id nulla. Integer quis est maximus, tincidunt tellus vitae, porta elit.
        </h3>
    </div>

    <div class="comment-session">
        <h1>Comments:</h1>
        <div class="post-comment">
            <div class="comment-list">
                <div class="flex">
                    <div class="user">

                        <div class="user-meta">
                            <div class="name">
                                Panadol
                            </div>

                            <div class="day">
                                panadol@gmail.com
                            </div>

                        </div> <!-- user-meta -->
                    </div> <!-- user -->
                    <!-- comment -->
                </div> <!-- flex -->
                <div class="comment">
                    So much knowledge in a single video. I was so much stuck on stash. I was  using tfs shelveset. Wasnt able to find better learning on equivalent. Thanks a lot for making things so easy.
                </div>
            </div> <!-- comment-list -->
            <form action="" class="comment-box">
                <div class="user">
                    <div class="name">
                        Panadol
                    </div>
                    <!-- <div class="day">
                      panadol @gmail.com
                    </div> -->
                </div>
                <textarea name="comment" id="" cols="30" rows="10"></textarea>
                <button class="comment-submit">Submit</button>
            </form>
        </div>
        <!-- post-comment -->
    </div> <!-- comment-session -->


</body>
</html>
