
@using Ganss.Xss


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <title>Blog :</title>
</head>
<body>

    <img src="https://www.ryrob.com/wp-content/uploads/2019/07/History-of-Blogging-Journey-Description-Infographic-Optimized.jpg" alt="titleimage">

    <div class="blog-text">
        <h1 class="heading">Learn the hidden feature in Git - Stash</h1>
        <div class="editor-detail">

            <p class="Author">Author: JohnDoe</p>





        </div>
        <div >
            @((MarkupString)htmlcontent)
            </div>
    </div>

    <div class="comment-session">
        <h1>Comments:</h1>
        <div class="post-comment">
            <div class="comment-list">
                <div class="flex">
                    <div class="user">

                        <div class="user-meta">
                            <div class="name">
                                Panadol
                            </div>

                            <div class="day">
                                panadol@gmail.com
                            </div>

                        </div> <!-- user-meta -->
                    </div> <!-- user -->
                    <!-- comment -->
                </div> <!-- flex -->
                <div class="comment">
                    So much knowledge in a single video. I was so much stuck on stash. I was  using tfs shelveset. Wasnt able to find better learning on equivalent. Thanks a lot for making things so easy.
                </div>
            </div> <!-- comment-list -->
            <form action="" class="comment-box">
                <div class="user">
                    <div class="name">
                        Panadol
                    </div>
                    <!-- <div class="day">
                      panadol@gmail.com
                    </div> -->
                </div>
                <textarea name="comment" id="" cols="30" rows="10"></textarea>
                <button class="comment-submit">Submit</button>
            </form>
        </div>
        <!-- post-comment -->
    </div> <!-- comment-session -->


</body>
</html>

@code{
    private string htmlcontent = "<p>Welcome to my blog post about HTML blogging. In this article, I'll share some insights into creating simple yet effective blogs using HTML. HTML (HyperText Markup Language) is the standard language for creating web pages and web applications. While there are more advanced platforms and content management systems for blogging, understanding the basics of HTML can be empowering.</p><h1>HTML provides a straightforward way to structure content on the web. Let's explore a basic HTML structure for a blog post:</h1>";

    public string PostID { get; set; }

}