body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.header-Details{
    
    width: 100%;
    height: fit-content;
    position: static;
    top: 10%;
}
.tag-line{
    width: fit-content;
    height: fit-content;
    display: inline;
    position: relative;
    margin-bottom: 20px;
    left: 30%;       
    top: 0px;
}

.card-section{
    /* background-color: aqua; */
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-right: auto;
    /*left: 30%;*/
    padding: 10px;
    

}
a{
    text-decoration: none;
   
}

.blog-topic{
   width: 250px;
   height: fit-content;
   background-color: beige;
   position:static;
    margin-left: auto;
    margin-right: 250px;
   top: 30%;
   outline:#0003;
    border: 1px  #0003;
    padding: 20px;
}
 li{
    list-style-type: none;
    ;
 }
 
 li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    
 }
 .home-body {
     display: flex;
     
     
 }
 .space {
     height: 30px;
     width: 30px;
 }
