@page "/home"

<PageTitle>Home</PageTitle>

<h1>________________Home_____________________</h1>


<h3>Will display all the user articles fetched from database</h3>
<h3>The Screen displayed after a user logs in</h3>

@code {

}
