body {
    background-color: #C3F1FF;
    display: flex;
    flex-direction: column;
    
}
.page-body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}
.login-image-and-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.login-image-and-text h2 {
    font-family: Poppins, sans-serif;
    color: black;
    font-weight: 520;
    font-size: xxx-large;
}
.img-login {
    height: 350px;
}
.page-header {
    height: 27px;
    justify-content: left;
    display: flex;
    flex-direction: row;
}
.page-header-airtime-title {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 500;
    font-style: normal;
}
.login-container {
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;
    text-align: left;
    border-radius: 10px;
}

.login-container h2 {
    margin: 0 0 10px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}
.login-container h3 {
    margin: 0 0 20px;
    font-family: Poppins, sans-serif;
    font-size: medium;
    font-weight: 500;
    color: #515151;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    text-align: left;
}



.form-group input {
    margin: 15px 0 0;
    padding: 0;
    border: none;
    font-size: 12px;
    border-bottom: 2px solid #ccc;
    outline: none;
}

.btn-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


.forgot-password {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
}

.forgot-password a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: small;
    color: #515151;
}

.forgot-password a:hover {
    text-decoration: underline;
}
.login-button {
    padding: 8px 0;
    margin-top: 100px;
    background: none;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #515151;
    border: 1px solid #9B9898;
    border-radius: 5px;
}
.signup-text {
    font-family: Poppins, sans-serif;
    color: #515151;
    font-size: small;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

.signup-link {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: small;
    color: #515151;
    text-decoration: none;
    text-underline: none;
}
