body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    
    list-style: none;
    text-decoration: none;
}

nav {
    height: 100px;
    background: #2c3e50;
}

    nav img {
        width: 50px;
        height: 50px;
        position: relative;
        top: 25px;
        left: 8%;
    }

    nav ul {
        float: right;
        margin-right: 25px;
    }

        nav ul li {
            display: inline-block;
            line-height: 20px;
            margin: 0 15px;
        }

            nav ul li a {
                position: relative;
                color: white;
                font-size: 16px;
                padding: 5px 0;
                text-transform: uppercase;
            }

                nav ul li a:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0;
                    height: 3px;
                    width: 100%;
                    background: white;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform .4s linear;
                }

                nav ul li a:hover:before {
                    transform: scaleX(1);
                    transform-origin: left;
                }

label #btn,
label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media(max-width: 1118px) {
    nav img {
        left: 8%;
    }
}

@media(max-width: 944px) {
    nav img {
        left: 6%;
        width: 130px;
    }

    nav ul li a {
        font-size: 17px;
    }
}

@media(max-width: 860px) {

    label #btn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        background: #34495e;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

        nav ul li a {
            font-size: 20px;
        }

    #check:checked ~ ul {
        left: 0;
    }

    #check:checked ~ label #btn {
    }

    #check :checked ~ label #cancel {
        display: none;
    }
}

.button-17 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}

    .button-17:hover {
        background: #F6F9FE;
        color: #174ea6;
    }

    .button-17:active {
        box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
        outline: none;
    }

    .button-17:focus {
        outline: none;
        border: 2px solid #4285f4;
    }

    .button-17:not(:disabled) {
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }

        .button-17:not(:disabled):hover {
            box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
        }

        .button-17:not(:disabled):focus {
            box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
        }

        .button-17:not(:disabled):active {
            box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
        }

    .button-17:disabled {
        box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
