﻿<!-- NavBar.razor -->
@using Model.DTOs
@inject NavigationManager nm
@inject ILoginService logout
@using UserInterface.Data.Authentication
@using Model.Models


@if(ShowNavBar)
{
   


    <nav>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <img src="~/images/logo.svg" alt="Airtime.pk- logo">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Write Post</a></li>
            <li><a href="#">My Posts</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact Us</a></li>
            <button class="button-17" role="button" onclick="@logout">Logout</button>
        </ul>
    </nav>
}


@code {
    [Parameter] public bool ShowNavBar { get; set; } = true;

    private async Task LogoutUser()
    {
        Console.WriteLine("logout func ran");
        await logout.Logout();
        nm.NavigateTo("/", true);
        Console.WriteLine("pressed");
    }
}