<!-- NavBar.razor -->
@using Model.DTOs
@inject NavigationManager nm
@inject ILoginService logout
@using UserInterface.Data.Authentication
@using Model.Models


@if(ShowNavBar)
{
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            scroll-behavior: smooth;
        }

        .navbar-container {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 75px;
            background: #2980b9;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        }

        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            max-width: 90%;
            background: #2980b9;
            margin: auto;
        }

        .logo a {
            color: #fff;
            font-size: 27px;
            font-weight: 600;
            text-decoration: none;
        }

        .menu {
            display: flex;
        }

            .menu li {
                list-style: none;
                margin: 0 15px;
            }

                .menu li a {
                    color: #fff;
                    font-size: 17px;
                    font-weight: 500;
                    text-decoration: none;
                }

        /* Style for the logout button */
        .signup-button {
            background: #4CAF50;
            color: #fff;
            font-size: 17px;
            font-weight: 500;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
    </style>


    <div class="navbar-container">
        <div class="navbar">
            <div class="logo"><a href="/home">Airtime.pk</a></div>
            <ul class="menu">
                <li><a href="home" >Home</a></li>
                <li><a >About</a></li>
                <li><a >Category</a></li>
                <li><a >Contact</a></li>
                <li><a href="writeblog">Write Post</a></li>
            </ul>
            <button class="button signup-button" onclick="@LogoutUser">Logout</button>
        </div>
    </div>
}


@code {
    [Parameter] public bool ShowNavBar { get; set; } = true;

    private async Task LogoutUser()
    {
        Console.WriteLine("logout func ran");
        await logout.Logout();
        nm.NavigateTo("/", true);
        Console.WriteLine("pressed");
    }
}
