@page "/writeblog"
<PageTitle>Write Blog</PageTitle>
<h1>******* RESERVED FOR EDITOR's VIEW**********</h1>
<h2>Here on this screen we will implement CKeditor</h2>
<h3>This Screen is reserved for user to write blog</h3>

@code {

}
